# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
server/.env

# Node modules
node_modules/
package-lock.json/
ai-image-captioner/server/node_modules/
ai-image-captioner/client/node_modules/
ai-image-captioner/client/package-lock.json
ai-image-captioner/server/package-lock.json

# Build outputs
dist/
dist-ssr/
.cache/
.transformers-cache/
client/dist/
server/dist/

# Coverage reports
coverage/
lcov-report/
*.lcov
ai-image-captioner/server/coverage/
ai-image-captioner/server/lcov-report/
ai-image-captioner/server/*.lcov

# Editor & System files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / Temporary files
test-results/
playwright-report/

# Optional Extras
*.local
